<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HackAble.</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/xss.css')}}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"> 
  </head>
  <body>

	<header style="background-color: #292929;">
        <div class="nav_bar">
            <div class="container">
                <a href="/" style="text-decoration: none; font-family: monospace; font-size: 30px; font-weight: bolder; color: whitesmoke;">    
                    Hack<span style="color: brown;">able.</span>
                </a>
            </div>
        </div>
    </header>

    <section id="user-input">
      <form>
        <div class="form-control">
          <label for="user-message">Your Message</label>
          <textarea id="user-message" name="user-message"></textarea>
        </div>
        <div class="form-control">
          <label for="message-image">Image URL</label>
          <input type="text" id="message-image" name="message-image" />
        </div>
        <button type="submit">Send Message</button>
      </form>
    </section>
    <section id="user-messages">
      <ul></ul>
    </section>

	<footer class="footer_container">
        <div class="footer_text">
            <p>
                Copyright &copy; 2022 - Hackable.<br>
            </p>
            <div id="s_btn">
                <strong>Stay Connected</strong><br>
                <a href="https://www.facebook.com" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://www.instagram.com" target="_blank">
                    <i class="fab fa-instagram"></i>         
                </a>
                <a href="https://in.linkedin.com" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://github.com" target="_blank">
                    <i class="fab fa-github"></i>                       
                </a>
                <a href="mailto:mailexample@noreply.com" target="_blank">
                    <i class="far fa-envelope"></i>
                </a>
            </div>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/app.js')}}"></script>
  </body>
</html>